<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary" (click)="openDialog()">
                Book Now
            </button>
            <button class="modify-button" mat-stroked-button color="primary" (click)="openDialogm()">
                Manage booking
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-display-1">
                Luxury Beach Front Resort
            </h2>
            <h1 class="mat-display-4">
                Natai Beach Resort &amp; Spa
            </h1>
    </div>
    <div class="thailand">
        <h3>THAILAND</h3>
    </div>
</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center" >
        <div>
            <h2 class="mat-subheading-2">Luxury beach front Resort</h2>
        </div>
        <div>
            <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</section>